*{
	margin:0;
	padding: 0;
	
	
}

#container {
	
	width: 100%;
	font-family: sans-serif, Helvetica;
	background: #262626;
	height: 100%;
	min-width: 1050px;

}

#topo {
	background: #333333;
	height: 60px;
	color: #fff;
}

.titulo {
	font-size: 2.5em;
	background: #333333;
	padding: 5px;
	line-height: 1.2em;
	margin-left: 20px;
	letter-spacing: 2px; 
}

.titulo img {
	margin-top: 5px;
}

span {
	color: #ff0066;
}



form {
	float: left;
	margin-top: -45px;
	margin-left: 1000px;
	background:#1a1a1a; 
	
}

input {
	height: 30px;
	background: url(lupa3.png) no-repeat right;
	background-size: contain;
	padding-left: 5px;
	cursor: pointer;
}
.lateral {
	position: relative;
}
.lateral {
	position: relative;
}

.lateral2 {
	position: relative;
}
.lateral img {
	cursor: pointer;
	position: absolute;
	top: -45px;
	left: 1200px;
	

}

.lateral2 img {
	cursor: pointer;
	position: absolute;
	top: -45px;
	left: 1230px;
}


ul {
	list-style: none;
	padding: 10px;
	background: #000;
	width: 17%;
	height: 1000px;
	 
}

ul li {
	padding: 10px;
	padding-left: 40px; 
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: #fff;
}

ul li:hover {
	background: #dcdcdc;
}

.conteudo-principal {
	float: left;
	margin-left: 20%;
	margin-top: -950px;
	width: 100%;
}

.conteudo-principal h3 {
	color: #dcdcdc;
}

.conteudo-principal h2 {
	color: #fff;
	margin-top: 5px;
}


.caixa1 {
	float: left;
	
	padding: 0 20px;
	width: 25%; 

}

.caixa2 {
	float: left;
	padding: 0 20px;
	width: 25%;

}

.caixa3 {
	float: left;
	padding: 0 20px; 
	width: 25%;
}


.caixa1 img {
	padding: 5px;
	margin-left: -10px;
}


.caixa2 img {
	padding: 5px;
	margin-left: -10px;
}

.caixa3 img {
	padding: 5px;
	margin-left: -10px;
}