*{
	padding: 0;
	margin: 0;
}

#container {
	text-align: center;
	background: #dcdcdc;
}
header {
	background: url(fundo.jpg) no-repeat;
	height: 400px;
	background-size: cover;
	min-width: 960px;
}

form {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-shrink: 2;
	align-items: baseline;
}

#item{
	margin-top: 20px;
	width: 40%;
	height: 40px;
	/*margin-left:30%;*/
}

#button {
	background: #fff url(search.png) no-repeat center;
	height: 40px;
	background-size: contain;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 5px;

}

select {
	margin-top: 20px;
	height: 40px;
	color: white;
	background: black;
	margin-left: -10px;
	
}

.categorias {
	width: 10%;
}

#destaques {
 	display: flex;
 	color: #fff;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	font-size: 4em;
 	margin-top: 25px;
}

#busca-destaques {
	width: 100px;
	height: 25px;
	border-radius: 20px;
	border:none;
	background: #000;
	color: #fff;
	cursor: pointer;
}

#busca-destaques:hover {
	color: #000;
	background: #fff;
}


article {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	
}

section {
	border: 1px solid gray;
	height: 300px;
	margin-left: 25px;
	width: 20%;
	cursor: pointer;
}

#cl1 {
	background: #fff url(clothes1.png) center no-repeat;
	background-size: contain; 
}

#cl2 {
	background: #fff url(clothes2.png) center no-repeat;
	background-size: contain; 
}

#cl3 {
	background: #fff url(clothes3.png) center no-repeat;
	background-size: contain; 
}

#title{
 	margin-top: 20px;
}